*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 35px;
}
.headerUpperCaseFont h2{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;

}

.headerImage{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    
}
.headerImage img{
    width: 100px;
    margin-right: 10px;
    /* height: auto; */
}
.headerImage img:nth-child(1){
    width: 65px;
    /* border: 1px solid black; */
}
.headerImage2{
    display: flex;
    align-items: center;
}
.headerImage2 img{
    width: 65px;
    margin-right: 5px;
    cursor: pointer;
}
.movingImage{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
}
.movingImage img{
    margin-top: 10px;
    width: 100%;
    height: 180px;
}
.arrow{
    position: absolute;
    top: 40%;
    cursor: pointer;
    z-index: 100;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    color: white;
}
.left{
    left: 10px;
}
.right{
    right: 10px;
}
.grid6{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 225px;
    gap: 10px;
    
    padding: 10px 25px;
}
.grid6>div{
    background-color: red;
}